.additionally__title {
  font-family: "oswald", sans-serif;
  font-size: 32px;
  line-height: 32px;
}

.additionally-card__title {
  font-family: "oswald", sans-serif;
  color: #222222;
  font-size: 20px;
  line-height: 20px;
}

.additionally-card__button {
  font-family: "oswald", sans-serif;
}

.additionally-card__text {
  color: #444444;
}

.additionally-card__cost {
  color: #444444;
}
