.example {
  background-color: #eaeaea;
  position: relative;

  @media (min-width: $tablet-width) {
    background-image:linear-gradient(to top, #f2f2f2, #f2f2f2 462px, #ffffff 462px, #ffffff);
  }
}

.example__wrapper {
  padding: 20px;
}

.example__information {
  @media (min-width: $desktop-width) {
    width: 436px;
  }
}

.example__title {
  font-family: "Oswald", "Arial Narrow", sans-serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.example__weight-mass {
  font-family: "Oswald", "Arial Narrow", sans-serif;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__weight-text {
  color: #444444;
  font-size: 12px;
  line-height: 100%;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
  }
}

.example__time-days {
  font-family: "Oswald", "Arial Narrow", sans-serif;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__time-text {
  color: #444444;
  font-size: 12px;
  line-height: 100%;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
  }
}

.example__cost {
  font-family: "Oswald", "Arial Narrow", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.example__text {
  color: #444444;
  font-size: 16px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.example__slider {
  position: relative;

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 0;
    right: 0;
    background-image:linear-gradient(to top, #f2f2f2, #f2f2f2 462px, #ffffff 462px, #ffffff);
  }
}

.example__cat-skinny {
  display: inline-block;
}

.example__cat-fat {
  position: absolute;
  width: 50%;
  overflow: hidden;
  background-color: #ebebeb;
  display: inline-block;

  @media (min-width: $desktop-width) {
    background-image:linear-gradient(to top, #f2f2f2, #f2f2f2 462px, #ffffff 462px, #ffffff);
  }
}

.example__button {
  position: absolute;
  width: 4px;
  height: 100%;
  background-color: #666666;
  border: none;
  border-radius: 2px;
  padding: 0;
  top: 0;
  left: 50%;
  margin-left: -2px;
}

.example__button::after {
  content: "";
  position: absolute;
  display: block;
  border: #666666 3px solid;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  left: 50%;
  top: 50%;
  background-color: #ffffff;
  transform: translate(-50%, -50%);
}

.example__button::before {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 40px;
  background-color: #666666;
  mask-image: url("../../icons/stack.svg#slider-arrow");
  mask-repeat: no-repeat;
  mask-size: 24px 18px;
  mask-position: 8px 11px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
