.example__title {
  font-family: "oswald", sans-serif;
  font-size: 60px;
  line-height: 60px;
}

.example__weight-mass {
  font-family: "oswald", sans-serif;
  font-size: 30px;
  line-height: 37px;
}

.example__weight-text {
  color: #444444;
  font-size: 14px;
  line-height: 14px;
}

.example__time-days {
  font-family: "oswald", sans-serif;
  font-size: 30px;
  line-height: 37px;
}

.example__time-text {
  color: #444444;
  font-size: 14px;
  line-height: 14px;
}

.example__cost {
  font-family: "oswald", sans-serif;
  font-size: 20px;
  line-height: 20px;
}

.example__text {
  color: #444444;
  font-size: 16px;
  line-height: 24px;
}
