.main-header {
  padding: 13px 20px;
}

.main-header__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-header__logotype:hover {
  opacity: 70%;
}

.main-header__logotype:active {
  opacity: 60%;
}

.main-header__text-logo {
  margin-left: 56px;

  @media (min-width: $tablet-width) {
    margin-left: 0;
  }
}
