.news__text {
  font-family: "oswald", sans-serif;
  font-size: 24px;
  line-height: 32px;
}

.news__title {
  font-family: "oswald", sans-serif;
  font-size: 32px;
  line-height: 32px;
}

.news__button {
  font-family: "oswald", sans-serif;
  font-size: 20px;
  line-height: 26px;
}

.news__email {
  font-family: "oswald", sans-serif;
  font-size: 20px;
  line-height: auto;
}
