.news__wrapper {
  padding: 20px;
}

.news__text {
  font-family: "Oswald", "Arial Narrow", sans-serif;
  font-size: 16px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 32px;
  }
}

.news__title {
  font-family: "Oswald", "Arial Narrow", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 32px;
    line-height: 32px;
  }

  @media (min-width: $desktop-width) {
    font-size: 40px;
    line-height: 40px;
  }
}

.news__button {
  font-size: 20px;
  line-height: 26px;
  border: none;
  padding: 15px 82px;

  @media (min-width: $tablet-width) {
    padding: 15px 70px;
  }
}

.news__email {
  font-family: "Oswald", "Arial Narrow", sans-serif;
  font-size: 20px;
  line-height: auto;
  text-transform: uppercase;
}
