.news__wrapper {
  padding: 20px;
  margin: 0 auto;
  width: auto;
  min-width: 280px;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 80px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 104px;
  }
}

.news__text {
  font-family: "Oswald", "Arial Narrow", sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 32px;
  }
}

.news__title {
  font-family: "Oswald", "Arial Narrow", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 32px;
    line-height: 32px;
  }

  @media (min-width: $desktop-width) {
    font-size: 40px;
    line-height: 40px;
  }
}

.news__form {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    width: 640px;
  }

  @media (min-width: $desktop-width) {
    width: 760px;
  }
}

.news__button {
  font-size: 20px;
  line-height: 26px;
  border: none;
  padding: 15px 82px;
  margin: 0 auto;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 15px 70px;
    margin: 0;
  }
}

.news__email {
  font-family: "Oswald", "Arial Narrow", sans-serif;
  font-size: 20px;
  line-height: auto;
  text-transform: uppercase;
  width: 280px;
  height: 56px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 16px;
  border: #f2f2f2 2px solid;

  @media (min-width: $tablet-width) {
    width: 376px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    width: 496px;
  }
}
