.program {
  background-color: #68b738;
  background-image: linear-gradient(rgba(104, 183, 56, .85), rgba(104, 183, 56, .85)), url("../../images/index-corm-cat-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: top;
}

.program__title {
  font-family: "Oswald", "Arial Narrow", sans-serif;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 400;
}

.program__text {
  font-family: "Oswald", "Arial Narrow", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  text-transform: uppercase;
}

.program__button {
  text-decoration: none;
}
