.program__title {
  font-family: "oswald", sans-serif;
  font-size: 60px;
  line-height: 60px;
}

.program__text {
  font-family: "oswald", sans-serif;
  font-size: 20px;
  line-height: 20px;
}

.program__button {
  font-family: "oswald", sans-serif;
  font-size: 20px;
  line-height: 26px;
}
